<div class="dash-content">
    <br><br>
    <div class="most-blog">
        <div class="content">
            <div class="title">
                <h2>Bộ lọc ngôn ngữ </h2>
            </div>
            <div class="mt-4 d-flex align-items-center ">
                <input nz-input placeholder="Các từ ngăn cách nhau bởi dấu phẩy" [(ngModel)]="value" style="max-width: 400px;"/>
                <button class="btn btn-primary btn-sm" (click)="add()" style="margin-left: 20px;">Thêm</button>
                
            </div>
            <div class="mt-4 d-flex align-items-center ">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="checkboxAll()">
                    <label class="form-check-label" for="checkbox-all">
                        Chọn tất cả
                    </label>
                </div>
                <button class="btn btn-primary btn-sm checkall-btn disabled" (click)="submit()" style="margin-left: 20px;">Xóa</button>
                
            </div>
            
            <table class="content-table">
                <thead>
                    <tr>
                        <td style="width: 50px;"></td>
                        <td style="width: 50px;">#</td>
                        <td style="width: 100px;">Từ khóa</td>
                    </tr>
                </thead>

                <tbody *ngFor="let word of words">
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="blogIDs[]" value="{{word.id}}" id="" (click)="checkbox()">
                            </div>
                        </td>
                        <td style="font-weight: 600;">{{word.id}}</td>
                        <td>{{word.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
