<div class="container-fluid px-0 border-bottom shadow-sm">
    <nav class="container navbar  navbar-expand-lg navbar-light bg-white d-flex justify-content-between">
        <button class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand mx-auto" href="/home">
            <img src="../../assets/images/1.png" width="30" height="30" class="d-inline-block align-top rounded-circle"> Blog Lập Trình
        </a>

        <div class="collapse navbar-collapse" id="navbarContent">
            <hr class="d-block d-lg-none mt-0" />
            <ul class="navbar-nav mx-auto flex-column flex-sm-row justify-content-sm-center">
                <li class="nav-item px-0 px-sm-2 px-lg-0">
                    <a class="nav-link text-dark" href="/home">Trang chủ <span class="sr-only"></span></a>
                </li>
                <li class="nav-item px-0 px-sm-2 px-lg-0">
                    <a class="nav-link text-dark" (click)="onClick()">Bài viết hay</a>
                </li>
                <li class="nav-item px-0 px-sm-2 px-lg-0">
                    <a class="nav-link text-dark" >Tác giả</a>
                </li>
            </ul>
        </div>
        <div *ngIf="isAuthenticated; else elseBlock">
            <div class="float-sm-end">xin chào {{currentAccount.firstName}} {{currentAccount.lastName}}
                
                 (<a (click)="logout()">Đăng xuất</a>)
            </div>
        </div>
        <ng-template #elseBlock>
            <button type="button" class="btn btn-primary" routerLink="/login">Đăng nhập</button>
        </ng-template>

    </nav>
</div>

<br>

<router-outlet>

</router-outlet>





<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Duy Blog 2022</p>
    </div>
</footer>