<div class="dash-content">
    <br><br>
    <div class="most-blog">
        <div class="content">
            <div class="title">
                <h2>Bài viết</h2>
                <div class="mt-4 d-flex align-items-center ">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="checkboxAll()">
                        <label class="form-check-label" for="checkbox-all">
                              Chọn tất cả
                            </label>
                    </div>
                    <select class="form-select form-select-sm checkbox-select-all-options" id="">
                            <option selected>-- Hành động --</option>
                            <option value="delete" *ngIf="isAdmin">Xóa</option>
                            <option value="addcategory" *ngIf="!isAdmin">Thêm nhãn</option>
                            <option value="setPrivate">Ẩn bài viết</option>
                            <option value="setPublic">Xuất bản </option>
                    </select>
                    <button class="btn btn-primary btn-sm checkall-btn disabled" (click)="submit()">Thực hiện</button>
                    <button *ngIf="!isAdmin" type="button" class="btn btn-sm" style="margin: 0 0 0 500px;" (click)="addBlog()">Bài viết mới</button>
                </div>
                <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
                    <div class="mt-4 d-flex align-items-center">
                        <div>
                            <span>
                                Chọn nhãn:
                            </span>
                            <nz-select formControlName="categories" nzMode="multiple" nzPlaceHolder="Chọn nhãn cần phân loại" [(ngModel)]="listOfSelectedValue" style="width: 350px;">
                                <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option"></nz-option>
                                
                            </nz-select>
                        </div>

                        <div style="margin: 0 0 0 350px;">
                            <span>
                                Trạng thái: </span>
                            <nz-select formControlName="status" nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái ">
                                <nz-option nzLabel="Đã công bố" nzValue="Đã công bố"></nz-option>
                                <nz-option nzLabel="Riêng tư" nzValue="Riêng tư"></nz-option>
                                <nz-option nzLabel="Chờ đăng bài" nzValue="Chờ đăng bài"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div class="mt-2 d-flex align-items-center">
                        <div>
                            <span>
                                Từ ngày: 
                            </span>
                            <nz-date-picker nzPlaceHolder="Chọn ngày tháng" formControlName="createDateStart" style="width: 170px"></nz-date-picker>
                        </div>
                        <div style="margin: 0 0 0 503px;">

                            <span>
                                Đến ngày: 
                            </span>
                            <nz-date-picker nzPlaceHolder="Chọn ngày tháng" formControlName="createDateEnd" style="width: 170px"></nz-date-picker>
                        </div>
                    </div>
                    <div class="mt-2 d-flex align-items-center" *ngIf="isAdmin">
                        <span>
                            Tác giả:  </span>
                        <nz-select formControlName="id" nzShowSearch nzAllowClear nzPlaceHolder="Tác giả" style="width: 200px">
                            <nz-option *ngFor="let author of authors" nzLabel= "{{author.firstName}} {{author.lastName}}" nzValue={{author.id}}></nz-option>
                        </nz-select>
                    </div>
                    <br>
                    <button class="btn btn-primary btn-sm checkall-btn" type="submit">Tìm kiếm</button>

                </form>
            </div>

            <table class="content-table">
                <thead>
                    <tr>
                        <td style="width: 50px;"></td>
                        <td style="width: 50px;">#</td>
                        <td>Tiêu đề</td>
                        <td>Tóm tắt</td>
                        <td *ngIf="isAdmin">Tác Giả</td>
                        <td>Nhãn</td>
                        <td style="width: 150px;">Ngày tạo</td>
                        <td style="width: 50px;">Lượt xem</td>
                        <td style="width: 100px;">Trạng thái</td>
                    </tr>
                </thead>

                <tbody *ngFor="let blog of blogs">
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="blogIDs[]" value="{{blog.id}}" id="" (click)="checkbox()">
                            </div>
                        </td>
                        <td style="font-weight: 600;"><a href="/admin/blog/update/{{blog.id}}" style="text-decoration: none;">{{blog.id}}</a></td>
                        <td *ngIf="blog.title != ''"><a href="/admin/blog/update/{{blog.id}}" style="text-decoration: none;color: black;">{{blog.title}}</a></td>
                        <td *ngIf="blog.title == ''"><a href="/admin/blog/update/{{blog.id}}" style="text-decoration: none;color: black;">Không có tiêu đề</a></td>
                        <td><a href="/admin/blog/update/{{blog.id}}" style="text-decoration: none;color: black;">{{blog.summary}}</a></td>
                        <td *ngIf="isAdmin"><a href="/admin/blog/update/{{blog.id}}" style="text-decoration: none;color: black;">{{blog.user.firstName}} {{blog.user.lastName}}</a></td>
                        <td><span *ngFor="let category of blog.categories" style="border:1px solid #b0bec5;border-radius: 50px;margin-right: 16px;text-align: center;">{{category}}</span></td>
                        <td>{{blog.createDate}}</td>
                        <td>{{blog.views}}</td>
                        <td>{{blog.status}}</td>
                    </tr>
                </tbody>
            </table>
            <nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm nhãn cho bài viết" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                <ng-container *nzModalContent>
                    <nz-input-group [nzSuffix]="inputClearTpl">
                        <input type="text" nz-input [(ngModel)]="inputValue" placeholder="Các nhãn cách nhau bởi dấu phẩy" />
                    </nz-input-group>
                    <ng-template #inputClearTpl>
                        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="inputValue" (click)="inputValue = null"></i>
                    </ng-template>
                </ng-container>
                <div *nzModalFooter>
                    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
                    <button nz-button nzType="primary" (click)="handleOk()">Thêm</button>
                </div>
            </nz-modal>
        </div>
    </div>


</div>