



<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <h4>{{text}}</h4>
            <span *ngFor="let blog of blogs">
                <ul class="list-group list-group-flush" *ngIf="blog.status == 'Đã công bố'">
                    <li class="list-group-item">
                        <div class="card mb-3">
                            <a>
                                <div class="row g-0">
                                    <div class="col-md-3">
                                        <img src="../../../assets/images/{{blog.image}}" class="img-fluid rounded-start" alt="" style="width: 100%;">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <div class="small text-muted">{{blog.createDate}}</div>
                                            <h2 class="card-title h4">{{blog.title}}</h2>
                                            <p class="card-text">{{blog.summary}}</p>
                                            <div class="small text-muted">Tác Giả: {{blog.user.firstName}} {{blog.user.lastName}}</div>
                                            <a class="btn btn-primary btn-sm float-end" href="/detail/{{blog.id}}">Đọc Thêm →</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </span>
        </div>

        <div class="col-lg-4">

            <div class="card mb-4">
                <div class="card-header">Tìm Kiếm</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Nhập từ khóa ..." (keyup.enter)="onEnter()" [(ngModel)]="inputValue"/>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Tác Giả</div>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0">
                            <li *ngFor="let author of authors"><a class="badge badge-danger text-decoration-none link-light" (click)="authorClick(author.id,author.firstName,author.lastName)" style="background-color: #808080;">{{author.firstName}} {{author.lastName}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Thể loại/nhãn</div>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0">
                            <li *ngFor="let category of categories"><a class="badge badge-danger text-decoration-none link-light" (click)="categoryClick(category.id, category.name)" style="background-color: #808080;">{{category.name}}</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>