<div class="dash-content">
    <div class="overview">
        <div class="title">
            <span class="text">Thống kê</span>
        </div>

        <div class="boxes">
            <div class="box">
                <i class="uil uil-blogger"></i>
                <span class="text">Bài viết</span>
                <span class="number">{{this.totalBlog}}</span>
            </div>
            <div class="box" style="background-color: #FFE6AC;">
                <i class="uil uil-comment-alt-chart-lines"></i>
                <span class="text">Nhận xét</span>
                <span class="number">{{this.totalComment}}</span>
            </div>
            <div class="box" style="background-color: #E7D1FC;">
                <i class="uil uil-eye"></i>
                <span class="text">Lượt xem</span>
                <span class="number">{{this.totalView}}</span>
            </div>
        </div>

        <div class="most-blog">
            <div class="content">
                <div class="title">
                    <h2>Bài viết nổi bật</h2>
                    <a href="/admin/blog/list" class="btn">Xem tất cả</a>
                </div>

                <table class="content-table">
                    <thead>
                        <tr>
                            <td>Tiêu đề</td>
                            <td>Tóm tắt</td>
                            <td>Lượt xem</td>
                            <td>Trạng thái</td>
                        </tr>
                    </thead>

                    <tbody *ngFor="let blog of blogs">
                        <tr>
                            <td>{{blog.title}}</td>
                            <td>{{blog.summary}}</td>
                            <td>{{blog.views}}</td>
                            <td>{{blog.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>