.dashboard .dash-content {
    padding-top: 50px;
    align-items: center;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-left: 10px;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: #4DA3FF;
    transition: all 0.5s ease;
}

.boxes .box i {
    font-size: 35px;
    color: black;
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: black;
}

.most-blog {
    width: 100%;
    padding-top: 20px;
}

.most-blog .content {
    background: white;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.most-blog .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.most-blog .title h2 {
    font-weight: 600;
    color: black;
}

.most-blog .title .btn {
    padding: 5px 10px;
    background: blue;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}