<body>
    <div class="center">
        <h1>Đăng Nhập</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="txt_field">
                <input type="text" formControlName="username">
                <span></span>
                <label>Tài khoản</label>
            </div>
            <div class="txt_field">
                <input type="password" formControlName="password">
                <span></span>
                <label>Mật khẩu</label>
            </div>
            <div class="col">
                <a (click)="signInWithFB()"  class="fb btn">
                    <i class="uil uil-facebook" style="size: 16px;"></i> Đăng nhập bằng FaceBook
                 </a>
                <a class="google btn" #loginRef><i class="uil uil-google"></i>
                 Đăng nhập bằng Google
                </a>
            </div>
            <!-- <div class="pass">Forgot Password?</div> -->
            <input type="submit" value="Đăng nhập">
            <div class="signup_link">
                Bạn chưa có tài khoản? <a href="/register">Đăng Ký</a>
            </div>
        </form>
    </div>

</body>