



<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <div class="card mb-4">
                <a href="/detail/{{newestBlog.id}}"><img class="card-img-top" src="../../../assets/images/{{newestBlog.image}}" alt="..."  style="max-width: 500px;"/></a>
                <div class="card-body">
                    
                    <h2 class="card-title">{{newestBlog.title}}</h2>
                    <p class="card-text">{{newestBlog.summary}}</p>
                    <div class="text-muted">Tác Giả: {{newestBlog.user.firstName}} {{newestBlog.user.lastName}}</div>
                    <a class="btn btn-primary" href="/detail/{{newestBlog.id}}">Đọc thêm →</a>
                </div>
            </div>
            
            
            <span *ngFor="let blog of blogs">
                <ul class="list-group list-group-flush" *ngIf="blog.status == 'Đã công bố'">
                    <li class="list-group-item">
                        <div class="card mb-3">
                            <a href="/detail/{{blog.id}}" style="text-decoration: none;">
                                <div class="row g-0">
                                    <div class="col-md-3">
                                        <img src="../../../assets/images/{{blog.image}}" class="img-fluid rounded-start" alt="" style="width: 100%;">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <div class="small text-muted">{{blog.createDate}}</div>

                                            <h2 class="card-title h4">{{blog.title}}</h2>
                                            <p class="card-text">{{blog.summary}}</p>
                                            <div class="small text-muted">Tác Giả: {{blog.user.firstName}} {{blog.user.lastName}}</div>
                                            <a class="btn btn-primary btn-sm float-end" href="/detail/{{blog.id}}">Đọc Thêm →</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </span>
        </div>

        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Tìm Kiếm</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Nhập từ khóa ..." (keyup.enter)="onEnter()" [(ngModel)]="inputValue"/>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Gợi ý bài viết</div>
                <div class="card-body">
                    <div class="input-group">
                        <div>
                            <ul class="list-unstyled mb-0">
                                <li *ngFor="let blog of suggestBlog">
                                    <div class="row g-0" style="margin-top: 5px;">
                                        <div class="col-md-3">
                                            <img src="../../../assets/images/{{blog.image}}" class="img-fluid rounded-start" alt="" style="width: 90%;">
                                        </div>
                                        
                                        <div class="col-md-9">        
                                            <a href="/detail/{{blog.id}}" style="text-decoration: none;">{{blog.title}}</a>   
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="card mb-4">
                <div class="card-header">Tác Giả</div>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0">
                            <li *ngFor="let author of authors"><a class="badge badge-danger text-decoration-none link-light" (click)="authorClick(author.id,author.firstName,author.lastName)" style="background-color: #808080;">{{author.firstName}} {{author.lastName}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Thể loại/nhãn</div>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0">
                            <li *ngFor="let category of categories"><a class="badge badge-danger text-decoration-none link-light" (click)="categoryClick(category.id, category.name)" style="background-color: #808080;">{{category.name}}</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>