@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
.dashboard .dash-content {
    padding-top: 50px;
    align-items: center;
}

.most-blog {
    width: 100%;
    padding-top: 20px;
}

.most-blog .content {
    background: white;
    padding-left: 10px;
}

.most-blog .title {
    justify-content: space-between;
    align-items: flex-start;
}

.most-blog .title h2 {
    font-weight: 600;
    color: black;
}

.most-blog .title .btn {
    padding: 5px 10px;
    background: blue;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.content-table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 8px;
}

.content-table tbody tr td {
    word-wrap: break-word;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.checkbox-select-all-options {
    width: 180px;
    margin: 0 16px;
}

.dropdown-area {
    margin: 0 0 0 600px;
    background-color: #ffffff;
}