<div class="dash-content">
    <br><br>
    <div class="most-blog">
        <div class="content">
            <div class="title">
                <h2>Quản lí tài khoản</h2>
            </div>
            <div class="mt-4 d-flex align-items-center ">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="checkboxAll()">
                    <label class="form-check-label" for="checkbox-all">
                        Chọn tất cả
                    </label>
                </div>
                <select class="form-select form-select-sm checkbox-select-all-options" id="">
                        <option selected>--Phân Quyền --</option>
                        <option value="delete">Xóa Tài Khoản</option>
                        <option value="author">Quyền tác giả</option>
                        <option value="viewer">Bỏ Quyền tác giả</option>
                </select>
                <button class="btn btn-primary btn-sm checkall-btn disabled" (click)="submit()">Thực hiện</button>
            </div>
            <table class="content-table">
                <thead>
                    <tr>
                        <td style="width: 50px;"></td>
                        <td style="width: 50px;">#</td>
                        <td style="width: 150px;">Tài khoản</td>
                        <td>Họ tên</td>
                        <td style="width: 300px;">Email</td>
                        <td style="width: 100px;">Quyền</td>
                        <td style="width: 150px;">Ngày đăng kí</td>
                    </tr>
                </thead>

                <tbody *ngFor="let user of users">
                    <tr *ngIf="user.id != 1">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="blogIDs[]" value="{{user.id}}" id="" (click)="checkbox()">
                            </div>
                        </td>
                        <td style="font-weight: 600;">{{user.id}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td *ngIf="user.authorities.length == 2">Tác giả</td>
                        <td *ngIf="user.authorities.length == 1">Người xem</td>
                        <td>{{user.createdDateString}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>