<div class="dash-content">
    <br><br>
    <div class="most-blog">
        <div class="content">
            <div class="title">
                <h2>Quản lí bình luận</h2>
            </div>
            <div class="mt-4 d-flex align-items-center ">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="checkboxAll()">
                    <label class="form-check-label" for="checkbox-all">
                        Chọn tất cả
                    </label>
                </div>
                <select class="form-select form-select-sm checkbox-select-all-options" id="">
                        <option selected>-- Quản lí bình luận --</option>
                        <option value="delete_">Xóa vĩnh viễn bình luận</option>
                        <option value="delete">Xóa nội dung</option>
                        <option value="restore">Khôi phục bình luận</option>
                        <option value="spam">Đánh dấu là spam</option>
                        <option value="remove-spam">Không phải spam</option>
                </select>
                <button class="btn btn-primary btn-sm checkall-btn disabled" (click)="submit()">Thực hiện</button>
            </div>
            <div class="mt-4 d-flex align-items-center">
                <div>
                    <span>
                        Chọn bài viết:
                    </span>
                    <nz-select style="width: 400px" nzShowSearch nzAllowClear nzPlaceHolder="Chọn 1 bài viết" [(ngModel)]="selectedValue">
                        <span *ngFor="let blog of blogs">
                            <nz-option *ngIf="blog.status == 'Đã công bố'"  nzLabel={{blog.title}} nzValue={{blog.id}} ></nz-option>
                        </span>
                    </nz-select>
                </div>

                <div *ngIf="role == 'admin'">
                    <div style="margin: 0 20px 0 20px;">
                        <span>
                            Trạng thái: </span>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái" [(ngModel)]="statusValue">
                            <nz-option nzLabel="spam" nzValue="Spam"></nz-option>
                            <nz-option nzLabel="Đã công bố" nzValue="public"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <button class="btn btn-primary btn-sm checkall-btn" (click)="filter()" style="margin-left: 10px;">lọc bình luận</button>
            </div>
            <table class="content-table">
                <thead>
                    <tr>
                        <td style="width: 50px;"></td>
                        <td style="width: 50px;">#</td>
                        <td>Nội dung</td>
                        <td style="width: 150px;">Người Bình luận </td>
                        <td>Bài viết</td>
                        <td style="width: 150px;">Thời gian</td>
                        <td style="width: 100px;">Trạng thái</td>
                    </tr>
                </thead>

                <tbody *ngFor="let comment of comments">
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="blogIDs[]" value="{{comment.id}}" id="" (click)="checkbox()">
                            </div>
                        </td>
                        <td style="font-weight: 600;">{{comment.id}}</td>
                        <td>{{comment.content}}</td>
                        <td>{{comment.user.firstName}} {{comment.user.lastName}}</td>
                        <td><a href="/detail/{{comment.blog.id}}" target="_blank" style="text-decoration: none;color: black;">{{comment.blog.title}}</a></td>
                        <td>{{comment.createDate}}</td>
                        <td>{{comment.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>