<div class="dash-content">
    <br><br>
    <form class="post-area" [formGroup]="blogForm" (ngSubmit)="submitForm()">
        <div class="title">Cập Nhật Bài Viết</div>
        <div class="post-field">
            <span>Tiêu đề:</span>
            <input formControlName="title" nz-input placeholder="Nhập tiêu đề bài viết" />
        </div>
        <div class="post-field">
            <span>Tóm tắt:</span>
            <input formControlName="summary" nz-input placeholder="Nhập tóm tắt bài viết" />
        </div>
        <div class="post-field">
            <span>Nhãn:</span>
            <input formControlName="categories" nz-input placeholder="Phân tách các nhãn bằng dấu phẩy" />
        </div>
        <div class="post-field">
            <span>Ảnh:</span>
            <br>
            <input type="file" (change)="onSelect($event)">
        </div>

        <div class="post-field">
            <span>Nội dung:</span>
            <ckeditor formControlName="content" [(ngModel)]="ckeditorContent">
            </ckeditor>
        </div>
        <div class="post-field">
            <span>Đặt lịch đăng bài:</span>
            <nz-date-picker formControlName="scheduleDate" nzPlaceHolder="Chọn ngày tháng" style="margin-left: 10px;"></nz-date-picker>
        </div>
        <div class="post-field">
            <button *ngIf="isAdmin" nz-button nzType="primary" type="submit" disabled="">Đăng Bài</button>
            <button *ngIf="!isAdmin" nz-button nzType="primary" type="submit">Đăng Bài</button>
        </div>
    </form>
    
</div>