.post-area {
    width: 100%;
    padding-top: 20px;
}

.post-area .title {
    font-size: 18px;
    font-weight: 500;
    color: black;
    border-bottom: 1px solid #dddddd;
}

.post-area .post-field {
    margin-top: 10px;
}

.post-area .post-field span {
    font-size: 20px;
}