<div class="header-component">
    <h2>Danh Sách Tài khoản</h2>
</div>

<table style="margin-top: 25px;">
    <tr>
        <th>ID</th>
        <th>Họ Tên</th>
        <th>Tài khoản</th>
        <th>Email</th>
        <th>Thao tác</th>
    </tr>
    <tr *ngFor="let Account of accounts">
        <td>{{Account.id}}</td>
        <td>{{Account.firstName}} {{Account.lastName}}</td>
        <td>{{Account.login}}</td>
        <td>{{Account.email}}</td>
        <td><i *ngIf="Account.id != 1" style='font-size:16px;' class='fa-solid fa-trash-can' (click)="showConfirm(Account.login)"></i></td>
    </tr>

</table>