[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
    background-color: #690000;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    height: 40px;
    width: 100px;
}

.header-component {
    display: flex;
    justify-content: space-between;
}

select {
    height: 30px;
    border-radius: 7px;
}

input {
    height: 30px;
    border-radius: 7px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.breadcurm {
    position: fixed;
    margin-top: -45px;
}