

<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <article>
                <header class="mb-4">            
                    <h1 class="fw-bolder mb-1">{{blog.title}}</h1>
                    <div class="text-muted fst-italic mb-2">Đăng ngày {{blog.createDate}} bởi {{blog.user.firstName}} {{blog.user.lastName}} {{blog.user.id}}</div>
                    <div class="text-muted fst-italic mb-2">Lượt xem: {{blog.views +1}}</div>
                    <span *ngFor="let category of blog.categories">
                        <a class="badge bg-secondary text-decoration-none link-light"  (click)="categoryClick(category)" style="margin-right: 5px;">{{category}}</a>
                    </span>
                </header>
                <div class="post-body">
                    <div [innerHTML]="content"></div>
                </div>
            
                <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
            
            </article>
            
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <div *ngIf="isAuthenticated;else elseBlock">
            
                            <input type="text" class="form-control" placeholder="bình luận ..." (keyup.enter)="onEnter()" [(ngModel)]="inputValue">
                            <br>
                        </div>
                        <ng-template #elseBlock>
                            <input type="text" class="form-control" disabled placeholder="đăng nhập để bình luận ...">
                            <br>
                        </ng-template>
            
                        
                        <ul class="list-group list-group-flush" *ngFor="let comment of comments">
                            <li class="list-group-item" *ngIf="comment.status != 'spam'">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img style="max-width: 70px;" class="rounded-circle" src="../../../assets/images/1.png" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{comment.user.firstName}} {{comment.user.lastName}}
                                        </div>
                                        <div class="text-muted fst-italic">{{comment.createDate}}</div> {{comment.content}}
                                    </div>
                                </div>
                            </li>
                        </ul>
            
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-4 " >
            <div class="card mb-4 ">
                <div class="card-header">Bài viết cùng tác giả</div>
                <div class="card-body">
                    <div class="input-group">
                        <div>
                            <ul class="list-unstyled mb-0">
                                <li *ngFor="let blog of suggestBlog1">
                                    <div class="row g-0" style="margin-top: 5px;">
                                        <div class="col-md-3">
                                            <img src="../../../assets/images/{{blog.image}}" class="img-fluid rounded-start" alt="" style="width: 90%;">
                                        </div>
                                        
                                        <div class="col-md-9">        
                                            <a href="/detail/{{blog.id}}" style="text-decoration: none;">{{blog.title}}</a>   
                                        </div>
                                    </div>
                                    
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Bài viết nhiều lượt xem</div>
                <div class="card-body">
                    <div class="input-group">
                        <div>
                            <ul class="list-unstyled mb-0">
                                <li *ngFor="let blog of suggestBlog2">
                                    <div class="row g-0" style="margin-top: 5px;">
                                        <div class="col-md-3">
                                            <img src="../../../assets/images/{{blog.image}}" class="img-fluid rounded-start" alt="" style="width: 90%;">
                                        </div>
                                        
                                        <div class="col-md-9">        
                                            <a href="/detail/{{blog.id}}" style="text-decoration: none;">{{blog.title}}</a>   
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>