<body>
    <nav>
        <div class="logo-name" >
            <div class="logo-image">
                <img src="../../assets/images/1.png" alt="">
            </div>

            <span class="logo_name">Duy Blog</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li *ngIf="role == 'admin'">
                    <a href="admin/analytic">
                        <i class="uil uil-home"></i>
                        <span class="link-name">Thống kê</span>
                    </a>
                </li>
                <li>
                    <a href="admin/blog/list">
                        <i class="uil uil-blogger"></i>
                        <span class="link-name">Bài đăng</span>
                    </a>
                </li>
                <li>
                    <a href="admin/comment">
                        <i class="uil uil-comment-alt-chart-lines"></i>
                        <span class="link-name">Nhận xét</span>
                    </a>
                </li>
                <li>
                    <a href="admin/image">
                        <i class="uil uil-image"></i>
                        <span class="link-name">Hình ảnh</span>
                    </a>
                </li>

                <li>
                    <a href="admin/bannedword">
                        <i class="uil uil-ban"></i>
                        <span class="link-name">Lọc từ ngữ</span>
                    </a>
                </li>

                <li>
                    <a href="admin/user" *ngIf="role == 'admin'">
                        <i class="uil uil-user"></i>
                        <span class="link-name">Tài khoản</span>
                    </a>
                </li>

            </ul>

            <ul class="logout-mode">
                <li>
                    <a (click)="logout()">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Đăng xuất</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle" (click)="click()"></i>

            <div class="search-box" >
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Tìm kiếm bài viết tại đây..." (keyup.enter)="onEnter()" [(ngModel)]="inputValue">
            </div>
            <div>
                <img src="../../assets/images/1.png" alt="">
                <span style="margin-left: 5px;">{{currentAcc.firstName}} {{currentAcc.lastName}} (<a (click)="logout()">Đăng xuất</a>)</span>
            </div>

        </div>

        <router-outlet></router-outlet>
    </section>
</body>