<div class="dash-content">
    <br><br>
    <div class="most-blog">
        <div class="content">
            <div class="title">
                <h2>Hình Ảnh</h2>
            </div>
            <div class="mt-4 d-flex align-items-center">
                <div>
                    <span>
                        Chọn bài viết:
                    </span>
                    <nz-select style="width: 400px" nzShowSearch nzAllowClear nzPlaceHolder="Chọn 1 bài viết" [(ngModel)]="selectedValue">
                        <span *ngFor="let blog of blogs">
                            <nz-option *ngIf="blog.status != 'bản nháp'"  nzLabel={{blog.title}} nzValue={{blog.id}} ></nz-option>
                        </span>
                    </nz-select>
                </div>
                <button class="btn btn-primary btn-sm checkall-btn" (click)="filter()" style="margin-left: 20px;">lọc hình ảnh</button>
            </div>
            <table class="content-table">
                <thead>
                    <tr>

                        <td style="width: 100px;">#</td>
                        <td>Hình ảnh</td>
                        <td style="width: 350px;">Bài viết</td>
                    </tr>
                </thead>

                <tbody *ngFor="let image of images">
                    <tr *ngIf="image.id != 1">
                        <td style="font-weight: 600;">{{image.id}}</td>
                        <td><img src="{{image.imageUrl}}" alt="" style="max-width:400px"></td>
                        <td>{{image.blog.title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>