<body>
    <div class="center">
        <h1>Đăng Kí</h1>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="txt_field">
                <input type="text" formControlName="firstName">
                <span></span>
                <label>Họ</label>
            </div>
            <div class="txt_field">
                <input type="text" formControlName="lastName">
                <span></span>
                <label>Tên</label>
            </div>
            <div class="txt_field">
                <input type="text" formControlName="login">
                <span></span>
                <label>Tài khoản</label>
            </div>
            <div class="txt_field">
                <input type="password" formControlName="password">
                <span></span>
                <label>Mật Khẩu</label>
            </div>
            <div class="txt_field">
                <input type="text" formControlName="email">
                <span></span>
                <label>email</label>
            </div>
            <input type="submit" value="Đăng Kí">
            <div class="signup_link">
                Bạn đã có tài khoản? <a href="/login">Đăng Nhập</a>
            </div>
        </form>
    </div>

</body>